<div>
  <form action="shorten" method="post">
    <input type="text" placeholder="Enter URL to shorten" name="url" value="<%= url_to_shorten %>">
    <input type="submit" value="Shorten">
  </form>
</div>