<div>
  <p class="error-center"><%=h error %></p>
  <form action="shorten" method="post" class="form-center">
    <input class="input" type="text" placeholder="Enter URL to shorten" name="url_to_shorten" value="<%=h url_to_shorten %>" autofocus><br/>
    <input class="input" type="text" placeholder="Optional: Enter your own keyword" name="vanity_name" value="<%=h vanity_name %>"><br/>
    <input class="submit" type="submit" value="Shorten">
  </form>
</div>