<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
  <link href="<%= url('/css/normalize.css') %>" rel="stylesheet" type="text/css"/>
  <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>